body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    color: white;
    background-image: url('main-background.jpg');
    text-shadow: 2px 2px 1px black;
  }
  header {
    padding: 10px;
  }
  .location-button {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    border-radius: 50%;
  }
  .material-icons {
    font-size: 40px;
    color: rgb(51, 51, 51);
  }
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    display: block;
  }
  .info {
    left: 0;
  }
  .info div {
    display: inline-block;
  }
  .info h2 {
    font-weight: bold;
    font-size: 40px;
  }
  .info p {
    font-size: 25px;
  }
  #city {
    font-weight: bold;
  }
  #temperature {
    font-size: 40px;
    vertical-align: -20%;
  }
  #weatherInfo div {
    padding: 8px;
    font-size: 18px;
  }
  
  .input {
    right: 0;
  }
  .input h1 {
    font-weight: bold;
  }
  .input h5 {
    font-size: 20px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 5px;
  }
  
  #search {
    box-shadow: 2px 2px 5px black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-image: url(https://i.pinimg.com/originals/19/65/ab/1965ab7ef7de87fe748b3c66efbfc73a.jpg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 5px;
    text-indent: 30px;
  }
  
  /* Switch*/
  .switch {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: rgb(51, 51, 51);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(51, 51, 51);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    display: inline-block;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch div {
    display: flex;
    top: 9px;
    left: 12px;
    gap: 21px;
    color: black;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-shadow: none;
  }

